<!DOCTYPE html>
<html lang="es">
<head>
    <title>Red social</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<style>
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos de la sección de introducción */
.intro {
    text-align: center;
    padding: 40px;
}

/* Estilos de la lista de publicaciones */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px); /* Para tres columnas en pantalla ancha */
}

.post h3 {
    margin: 0;
}

.post p {
    margin-top: 10px;
}

.post a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
</style>

</head>
<body>
    
    <!-- SESION -->
    <h1 class="text-center mt-5 mb-5 text-primary">INICIO DE SESION</h1>
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/login" method="POST"> 
                    <div class="row mb-3"> 
                        <div class="col">
                            <label>Correo</label>
                            <input type="text" class="form-control mb-3" name="correo">
                        </div>
                        <div class="col">
                            <label>Contraseña</label>
                            <input type="text" class="form-control mb-3" name="password">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                    </div>
                </form>
                <!-- Mostrar mensajes flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <!-- REGISTRO -->
    <h1 class="text- center mt-5 mb-5 text-primary">Registro</h1>
    <div class="container">
        <div class="card shadow">
            <div class="card-body d-flex align-items-center">
                <form action="/addUser" method="POST">
                    <div class="col mb-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="col mb-3">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" name="apellido_paterno">
                    </div>
                    <div class="col mb-3">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" name="apellido_materno">
                    </div>
                    <div class="col mb-3">
                        <label>Telefono</label>
                        <input type="tel" class="form-control" name="telefono">
                    </div>
                    <div class="col mb-3">
                        <label>Cumpleaños</label>
                        <input type="date" class="form-control" name="cumpleanos">
                    </div>
                    <div class="col mb-3">
                        <label>Correo</label>
                        <input type="text" class="form-control" name="correo">
                    </div>
                    <div class="col mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="col mb-3">
                        <label>Contraseña</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="col mb-3">
                        <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                    </div>
                </form>
            </div>  

            <!-- Tabla -->
            <table class="table table-bordered">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido paterno</th>
                    <th scope="col">Apellido materno</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Cumpleaños</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Username</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </thead>
        
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.name}}</td>
                            <td>{{d.apellido_paterno}}</td>
                            <td>{{d.apellido_materno}}</td>
                            <td>{{d.telefono}}</td>
                            <td>{{d.cumpleanos}}</td>
                            <td>{{d.correo}}</td>
                            <td>{{d.username}}</td>
                            <td>{{d.password}}</td>
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Editar</button></td>
                            <td><a href="{{url_for("delete",id=d.id)}}" class ="btn btn-danger btn-sm">Eliminar</td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.username}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit/{{d.id}}" method="post" >
                                            <label>Nombre</label>
                                            <input type="text" class="form-control mb-3" name="name" value="{{d.name}}">
                                            <label>Apellido paterno</label>
                                            <input type="text" class="form-control mb-3" name="apellido_paterno" value="{{d.apellido_paterno}}">
                                            <label>Apellido materno</label>
                                            <input type="text" class="form-control mb-3" name="apellido_materno" value="{{d.apellido_materno}}">
                                            <label>Teléfono</label>
                                            <input type="text" class="form-control mb-3" name="telefono" value="{{d.telefono}}">
                                            <label>Cumpleaños</label>
                                            <input type="date" class="form-control mb-3" name="cumpleanos" value="{{d.cumpleanos}}">
                                            <label>Correo</label>
                                            <input type="text" class="form-control mb-3" name="correo" value="{{d.correo}}">
                                            <label>Username</label>
                                            <input type="text" class="form-control mb-3" name="username" value="{{d.username}}">
                                            <label>Contraseña</label>
                                            <input type="text" class="form-control mb-3" name="password" value="{{d.password}}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- PUBLICACIONES -->
    <h1 class="text- center mt-5 mb-5 text-primary">Publicación</h1>
    <div class="container">
        <div class="card shadow"><div>
            <div class="card-body"><div>
                <h1>Crear un nuevo artículo</h1>
                <form action="/add_article" method="POST">
                    <div class="col">
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" required><br>
                    </div>
                    <div class="col">
                        <label for="content">Contenido</label><br>
                        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>
                    </div>
                    <button class="btn btn-primary" type="submit">Publicar</button>
                </form>     
                <!-- Tabla -->
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Contenido</th>
                    </thead>
            
                    <tbody>
                        {% for d in data2 %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.title}}</td>
                                <td>{{d.content}}</td>
                                <td><button class="btn btn-primary btn-sm" id="btn-edit_article{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Edit</button></td>
                                <td><a href="{{url_for("delete_article",id=d.id)}}" class ="btn btn-danger btn-sm">Delete</td>
                            </tr>

                            <!--modal-->

                            <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.title}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal2" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <form action="/edit_article/{{d.id}}" method="post" >
                                            <label>Titulo</label>
                                            <input type="text" class="form-control mb-3" name="title" value="{{d.title}}">
                                            <label>Contenido</label>
                                            <input type="text" class="form-control mb-3" name="content" value="{{d.content}}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>
        </div>
    </div> 

    <!-- Tercer fragmento de código -->
    <h1>Subir Imagen a MySQL</h1>
    <form method="POST" action="/subir" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <br>
        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" accept=".jpg, .png, .jpeg" required>
        <br>
        <input type="submit" value="Subir Imagen">
    </form>

    <h2>Imágenes Subidas:</h2>
    <ul>
        {% for imagen in imagenes %}
            <li>
                {{ imagen[1] }}
                <a href="/mostrar/{{ imagen[0] }}" target="_blank">Ver Imagen</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
