<!DOCTYPE html>
<html>
<head>
    <title>Subir Imagen a MySQL</title>
</head>
<body>
    <h1>Subir Imagen a MySQL</h1>
    <form method="POST" action="/subir" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <br>
        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" accept=".jpg, .png, .jpeg" required>
        <br>
        <input type="submit" value="Subir Imagen">

    </form>

    <h2>Imágenes Subidas:</h2>
    <ul>
        {% for imagen in iconos %}
            <li>
                {{ imagen[1] }}
                <img src="/mostrar/{{ imagen[0] }}">Ver Imagen</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
