<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majami</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="index.css") }}">

</head>
<body>
    <header>
        <a href="{{ url_for('inicio') }}"><img src="/static/logo3.webp" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('addUser') }}">Registro</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="intro">
        <h1>Bienvenido a Majami</h1>
        <p>Un lugar para compartir tus pensamientos y experiencias.</p>
        <p>Publica lo que quieras y compartelo con el mundo.</p>
        <p><a href= "{{ url_for('login') }}">Inicia sesion</a> o <a href="{{ url_for('addUser') }}">Registrate</a> para comenzar.</p>
    </section>

    <footer>
        <p>&copy; 2023 Majami</p>
    </footer>
</body>
</html>
