<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Majami</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="index.css") }}">
</head>
<body>
    <header>
        <a href="{{ url_for('inicio') }}"><img src="/static/logo3.webp" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    {% endif %}
{% endwith %}
    <section class="spacelogin">
        <article class="form">
            <form action="/login" method="POST">
                <p class="titlelogin">Inicio de sesion</p>
                <p class="message"></p>
                    <div class="input-down-box">
                        <label>
                            <input class="input" type="email" id="correo" placeholder="" name="correo" required>
                            <span>Correo electrónico</span>
                        </label>
                        <label>
                            <input class="input" type="password" id="password" placeholder="" name="password" required>
                            <span>Contraseña</span>
                        </label>
                        <button class="submit">Inicia sesion</button>
                        <p class="signin">¿Aun no tienes una cuenta? <a href="{{ url_for('addUser') }}">Registrate</a> </p>
                    </div>
            </form>
        </article>
    </section>
    <footer>
        <p>&copy; 2023 Majami</p>
    </footer>
</body>

</html>
