<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario - Majami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="index.css") }}">
</head>
<body>
    <header>
        <a href="{{ url_for('publicaciones') }}"><img src="/static/logo3.webp" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{{ url_for('publicaciones') }}">Inicio</a></li>
                <li><a href="{{ url_for('registradoblog') }}">Blog</a></li>
                <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="card shadow">        
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Contenido</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </thead>
                    <tbody>
                        <h1>Subir Imagen a MySQL</h1>
                        <form method="POST" action="/subir" enctype="multipart/form-data">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" required>
                            <br>
                            <label for="imagen">Imagen:</label>
                            <input type="file" name="imagen" accept=".jpg, .png, .jpeg" required>
                            <br>
                            <input type="submit" value="Subir Imagen">
                    
                        </form>
                    
                        <h2>Imágenes Subidas:</h2>
                        <ul>
                            {% for imagen in iconos %}
                                <li>
                                    {{ imagen[1] }}
                                    <img src="/mostrar/{{ imagen[0] }}">Ver Imagen</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <h1>Publicaciones recientes de {{session['nameUser']}}</h1>
                        
                        {% for d in data2 %}
                            {% if d.user_id == session['user_id'] %}  {# Comprueba si el usuario es el autor del artículo #}
                                <tr>
                                    <td>{{d.id}}</td>
                                    <td>{{d.title}}</td>
                                    <td>{{d.content}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Edit</button>
                                    </td>
                                    <td>
                                        <a href="{{url_for("delete_article", id=d.id)}}" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                <a href="{{ url_for('cerrar_sesion') }}">Cerrar_Sesion</a>    
    <footer>
        <p>&copy; 2023 Mi Blog</p>
    </footer>
</body>
</html>
