<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Majami</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="index.css") }}">
</head>
<body>
    <header>
        <a href="{{ url_for('inicio') }}"><img src="/static/logo3.webp" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="register-form">
        <h2>Registro</h2>
        <form action="/addUser" method= "POST"> 
                    <div class="row mb-3"> 
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="name" required>
                        </div>
                        <div class="col">
                            <label>Apellido Paterno</label>
                            <input type="text" class="form-control mb-3" name="apellido_paterno" required>
                        </div>
                        <div class="col">
                            <label>Apellido Materno</label>
                            <input type="text" class="form-control mb-3" name="apellido_materno" required>
                        </div>
                        <div class="col">
                            <label>Telefono</label>
                            <input type="tel" class="form-control mb-3" name="telefono" required>
                        </div>
                        <div class="col">
                            <label>Cumpleaños</label>
                            <input type="date" class="form-control mb-3" name="cumpleanos" required>
                        </div>
                        <div class="col">
                            <label>Correo</label>
                            <input type="text" class="form-control mb-3" name="correo" required>
                        </div>
                        <div class="col">
                            <label>Username</label>
                            <input type="text" class="form-control mb-3" name="username" required>
                        </div>
                        <div class="col">
                            <label>Contraseña</label>
                            <input type="text" class="form-control mb-3" name="password" required>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Registrate</button>
                        </div>
                    </div>

                    <p>Si ya tienes una cuenta <a href= "{{ url_for('login') }}">Inicia sesion</a></p>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
    </section>
        
    <footer>
        <p>&copy; 2023 Majami</p>
    </footer>
</body>
</html>
