<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Majami</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="index.css") }}">
</head>
<body>
    <header>
        <a href="{{ url_for('inicio') }}"><img src="/static/logo3.webp" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            </ul>
        </nav>
    </header>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
    <section class="space">
        <article class="form">
            <form action="/addUser" method="POST">
                <p class="titlelogin">Registrate</p>
                <p class="message">Registrate para tener acceso</p>
                    <div class="flex">
                    <label>
                        <input class="input" type="text" placeholder="" name="name" required>
                        <span>Nombre</span>
                    </label>
                    <label>
                        <input class="input" type="text" placeholder="" name="apellido_paterno" required>
                        <span>Apellido paterno</span>
                    </label>
                    <label>
                        <input class="input" type="text" placeholder="" name="apellido_materno" required>
                        <span>Apellido materno</span>
                    </label>
                    </div>  
                    <div class="input-down-box">
                        <label>
                            <input class="input" type="tel" placeholder="" name="telefono" required>
                            <span>Telefono</span>
                        </label>
                        <label>
                            <input class="input" type="email" placeholder="" name="correo" required>
                            <span>Correo electrónico</span>
                        </label> 
                        <label>
                            <input class="input" type="date" placeholder="" name="cumpleanos" required>
                            <span>Fecha de nacimiento</span>
                        </label>
                        <label>
                            <input class="input" type="text" placeholder="" name="username" required>
                            <span>Nombre de usuario</span>
                        </label>
                        <label>
                            <input class="input" type="password" placeholder="" name="password" required>
                            <span>Contraseña</span>
                        </label>
                        <button class="submit">Registrate</button>
                        <p class="signin">¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesion</a> </p>
                    </div>   
            </form>
        </article>
    </section>



    <footer>
        <p>&copy; 2023 Majami</p>
    </footer>
</body>
</html>
